<h1>Sinatra</h1>
<p>Welcome to Sinatra</p>
<pre><code>
require 'sinatra'

get '/about' do
    "thinkphp.ro"
end

$ gem install sinatra
$ ruby app.rb
== Sinatra has token the stage ..
>> Listening on 0.0.0.0:4567
</code></pre>