<!DOCTYPE html>
<html>
<head>
<title><%= @title %></title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header class="site-header">
<a href="/" title="My name up in lights!" class="logo">Sinatra and Bundler<nav class="site-nav">
<ul class="nav">
<li class="current"><a href="/" title="Home">Home</a></li>
<li><a href="/about" title="Read a little about Express">About</a>
</li><li><a href="/writing" title="Find more articles I have written in Express">Writing</a></li>
<li><a href="/work" title="Find more projects I have worked on">Work</a></li>
<li><a href="/contact" title="Send me a message or find me elsewhere">Contact</a></li>
</ul></nav></a></header>

   <h1>Sinatra</h1>

   <p>Welcome to Sinatra</p>

   <body><%= yield %><p>Created by <a href="http://thinkphp.ro">Adrian Statescu</a></p></body>
</html>